@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
 
}

body {
  margin: 0;
  background-color: #04131d;
  
}

.App {
  padding-top: 90px;
}
.App header {
  background-color: #04131d;
  padding: 1em;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 60px;
 
}

hr {
  border: none;
  border-top: 2px solid gray;
  margin-bottom: 10px;
}


.card {
  font-size: 2em;
  width: 320px;
  height: min-content;
  padding: 0.8em;
  /* border: 2px solid grey; */
  border-radius: .5em;
  /* box-shadow: 2px 2px 2px #aaa; */
  background-color: #eee;
}
.card p {
  margin-bottom: 10px;
  overflow: hidden;
}
.card-name {
  display: inline;
  font-size: 20px;
  font-weight: 600;
  margin-right: 6px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.gift {
  display: flex;
  align-items: baseline;

}

.gift img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.btn {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
}

.register {
  font-weight: 700;
  min-width: max-content;
  border: none;
  border-radius: 5px;
  transition: transform 0.25s;
  background-color: #398AB9;
  color: #fff;
  padding: 1em 2em;
}

.register:hover {
  transform: scale(1.1);
}
.btn:hover {
  /* opacity: 0.5;
  color: #fff; */
} 
.btn:active{
  transform: scale(1.1);
}
.delete {
  margin-right: 10px;
  background-color: red;
}
.edit {
  background-color: #bbb;
}

/* Users List Component */
.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  min-width: 375px;
  min-height: 100vh;
  background-color: #04131d;
  padding-top: 5em;

}

/* USER FORM COMPONENT */
.UserForm {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(5px);
}

p.close {
  position: absolute;
  right: 1.5em;
  top: 0.5em;
  width: 32px;
  height: 32px;
  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
  
}

.UserForm form {
  background-color: #fff;
  padding: 1.5em;
  border-radius: 0.8em;
  position: relative;

}
.title {
  font-size: 18px;
  font-weight: 700;
}

.form-input{
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 10px;
}

input {
  border: none;
  outline: none;
  padding: 2px 4px;
  background-color: #eee;
  border-radius: 5px;
  height: 2em;
  width: 100%;
}

.btn-form {
  width: 100%;
  background-color: #4B8673;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: 700;
  height: 2em;
  cursor: pointer;
}
/* Desktop */
@media screen and (min-width: 500px){
  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    padding-left: 2em;
  }
}